.movie-section{
    margin-bottom:50px;
}

.movie-section h2{
    color:white;
    margin-bottom:20px;
    font-size:28px;
}

.movie-row{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding-bottom:10px;
}

.movie-row::-webkit-scrollbar{
    display:none;
}