.modal-overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.8);
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}

.modal{
background:white;
width:700px;
max-width:90%;
padding:25px;
border-radius:15px;
position:relative;
}

.modal img{
width:200px;
border-radius:10px;
margin-bottom:20px;
}

.close-btn{
position:absolute;
right:15px;
top:15px;
border:none;
background:red;
color:white;
padding:8px 12px;
cursor:pointer;
border-radius:50%;
}