/* .movie-card{
    cursor:pointer;
    transition:.3s;
}

.movie-card img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:12px;
}

.movie-card:hover{
    transform:scale(1.08);
}

.movie-card h4{
    color:white;
    margin-top:10px;
}

.movie-card p{
    color:#bbb;
} */
.movie-card{
    min-width:180px;
    cursor:pointer;
    transition:.3s;
}

.movie-card:hover{
    transform:scale(1.08);
}

.movie-card img{
    width:180px;
    height:260px;
    border-radius:12px;
    object-fit:cover;
}

.movie-info{
    margin-top:10px;
}

.movie-info h4{
    color:white;
    font-size:16px;
}

.movie-info p{
    color:#aaa;
}